<table class="table text-center table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Variedad</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Disponible</th>
            <th class="center"> Agregar </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzas" [ngClass]="{'promo': pizza.promo}">
            <td><img width="100" class="img-thumbnail" [src]="pizza.image" [alt]="pizza.name"></td>
            <td class="uppercase">{{pizza.name }}</td>
            <td>{{pizza.desc}}</td>
            <td>{{pizza.price | currency}}</td>

            <!--   <span class="badge badge-warning" *ngIf="prenda.stock==0; else disponible">Sin Stock</span>
    <ng-template #disponible>
        <span>Disponible</span>
    </ng-template>
  </td>
  <td>
    <app-input-integer [(quantity)]="prenda.quantity" [max]="prenda.stock" *ngIf="!prenda.stock==0" (maxReached)="maxReached($event)"></app-input-integer>
  </td> -->

            <td>
                <span class="badge badge-pill badge-dark" *ngIf="pizza.available==0">NO ESTA DISPONIBLE</span>
            </td>
            <td>
                <app-input-integer [(quantity)]="pizza.quantity" [max]="pizza.available" *ngIf="pizza.available" (maxLimit)="maxLimit($event)"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>
