<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Variedad</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Disponible</th>
            <th class="center"> Agregar </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzas" [ngClass]="{'promo': pizza.promo}">
            <td><img width="100" class="img-thumbnail" [src]="pizza.image" [alt]="pizza.name"></td>
            <td class="uppercase">{{pizza.name }}</td>
            <td>{{pizza.desc}}</td>
            <td>{{pizza.price | currency}}</td>
            <td><span class="badge badge-pill badge-dark" *ngIf="pizza.available==0 ">NO ESTA DISPONIBLE</span></td>
            <td width="15%">
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="downQuantity(pizza)"> - </button>
                    <span> <input type="text" [(ngModel)]="pizza.quantity" > </span>
                    <button type="button " class="btn btn-primary btn-sm " (click)="upQuantity(pizza)"> + </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>