.promo {
    border: 2px solid green;
    background: lightgreen;
}

.uppercase {
    text-transform: uppercase !important;
    color: darkblue;
    text-align: center;
}

td {
    vertical-align: middle;
}

th {
    width: 200px;
    overflow-x: auto;
}

input {
    max-width: 20px;
}

button {
    max-width: 20px;
}


/* label {
    font-size: 10px;
    max-height: 4px;
} */