.promo {
    border: 2px solid green;
    background: lightgreen;
}

.uppercase {
    text-transform: uppercase !important;
    color: darkblue;
    text-align: center;
}

td {
    vertical-align: middle;
}


/*
th {
    width: 400px;
    overflow-x: auto;
}
 */
