<h2 class="uppercase">
    VARIEDAD DE PIZZAS</h2>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Variedad</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Disponible</th>
            <th>Cantidad.Pedido</th>
            <th>Agregar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzas" [ngClass]="{'promo': pizza.promo}">
            <td><img width="100" class="img-thumbnail" [src]="pizza.image" [alt]="pizza.name"></td>
            <td class="uppercase">{{pizza.name }}</td>
            <td>{{pizza.desc}}</td>
            <td>{{pizza.price | currency}}</td>
            <td>
                <span class="badge badge-pill badge-dark" *ngIf="pizza.available==0">NO ESTA DISPONIBLE</span>
            </td>
            <td>
                <app-input-integer [(quantity)]="pizza.quantity" [max]="pizza.available" *ngIf="pizza.available" (maxLimit)="maxLimit($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="addToCart(pizza)">Agregar</button>
            </td>
        </tr>
    </tbody>
</table>